.header {
  width: 100vw;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px 16px;
  &__profile-wrap {
    display: flex;
    gap: 10px;
    width: 130px;
    justify-content: end;
  }
  &__logo {
    width: 130px;
    font-weight: 700;
    font-size: 26px;
    cursor: pointer;
  }
  &__add-post, &__logout {
    height: 30px;
    width: 30px;
    transition: scale 0.3s;
    cursor: pointer;

    &:hover {
      scale: 1.2;
    }
  }
  &__add-post {
    animation: showAddpostButton .3s forwards;
  }

  &__login,
  &__profile {
    cursor: pointer;
    font-size: 14px;
    &:hover {
      color: #aaa;
    }
  }
}

@keyframes showAddpostButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
