* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "StratosSkyeng";
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../src/assets/fonts/stratosskyengweb-regular.woff2") format("woff2");
}
@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../src/assets/fonts/stratosskyengweb-medium.woff2") format("woff2");
}
.container {
  display: flex;
  flex-direction: column;
}

.preloader {
  width: 50px;
  height: 50px;
  margin-top: 100px;
  align-self: center;
}

.header {
  width: 100vw;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px 16px;
}
.header__profile-wrap {
  display: flex;
  gap: 10px;
  width: 130px;
  justify-content: end;
  align-items: center;
}
.header__logo {
  width: 130px;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
}
.header__add-post, .header__logout {
  height: 30px;
  width: 30px;
  transition: scale 0.3s;
  cursor: pointer;
}
.header__add-post:hover, .header__logout:hover {
  scale: 1.2;
}
.header__add-post {
  z-index: 0;
  animation: showAddpostButton 0.3s forwards;
}
.header__login, .header__profile {
  cursor: pointer;
  font-size: 14px;
}
.header__login:hover, .header__profile:hover {
  color: #aaa;
}

@keyframes showAddpostButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: calc(100vh - 74px);
  padding: 15px;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.post__header {
  display: flex;
  margin-bottom: 10px;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.post__user-image {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.post__image {
  width: 500px;
  height: 100%;
}
.post__likes-wrap {
  display: flex;
  margin-top: 8px;
  align-items: center;
  gap: 10px;
}
.post__like-btn {
  width: 22px;
  height: auto;
  transition: scale 0.2s;
  cursor: pointer;
}
.post__like-btn:hover {
  scale: 1.15;
}
.post__likes-text {
  font-size: 14px;
  line-height: 18px;
}
.post__description {
  display: flex;
  margin-top: 5px;
  gap: 5px;
}
.post__description-user, .post__description-text {
  font-size: 14px;
}
.post__time {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 18px;
}

.auth {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 100vh;
  align-items: center;
  align-self: end;
  background: #fff;
  animation: slideIn 0.5s forwards;
}
.auth-wrap {
  position: fixed;
}
.auth__input {
  width: 100%;
  height: 40px;
  padding: 8px;
  border: none;
  background: none;
  border-bottom: 1px solid #c1c1c1;
  outline: none;
}
.auth__button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  border-radius: 5px;
  align-self: center;
  font-size: 16px;
  background: #565eef;
  color: white;
  cursor: pointer;
}
.auth__button:hover {
  opacity: 0.9;
}
.auth__switch {
  font-size: 14px;
}
.auth__switch-button {
  border: none;
  background: none;
  font-size: 14px;
  color: #565eef;
  text-decoration: underline;
  cursor: pointer;
}
.auth__switch-button:hover {
  opacity: 0.8;
}
.auth__close {
  align-self: end;
  width: 24px;
  cursor: pointer;
}
.auth__close:hover {
  opacity: 0.5;
}

@keyframes slideIn {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
.slideOutAnimation {
  animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -500px;
  }
}
.block-screen {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
  animation: showBlockScreen 0.5s forwards;
}

@keyframes showBlockScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hideBlockScreenAnimation {
  animation: hideBlockScreen 0.5s forwards;
}

@keyframes hideBlockScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.add-post {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  animation: showAddPost 0.5s forwards;
  z-index: 100;
}
.add-post__container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: white;
  z-index: 20;
}
.add-post__wrap {
  width: 500px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  gap: 10px;
  z-index: 10;
}
.add-post__button-choose-photo {
  width: 100%;
  border: none;
  background-color: #edecff;
  color: #565eef;
  padding: 10px 13px 13px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  cursor: pointer;
}
.add-post__button-choose-photo:hover {
  background-color: #e5e3fc;
}
.add-post__text {
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.add-post__description {
  width: 100%;
  height: 100px;
  font-weight: 400;
  font-size: 18px;
  resize: none;
  padding: 15px;
}
.add-post__description::-moz-placeholder {
  color: #7e7e7e;
}
.add-post__description::placeholder {
  color: #7e7e7e;
}
.add-post__button-add {
  width: 100%;
  background: #565eef;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 13px 13px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.add-post__button-add:hover {
  opacity: 0.9;
}
.add-post__close {
  align-self: end;
  width: 24px;
  cursor: pointer;
}
.add-post__close:hover {
  opacity: 0.5;
}

@keyframes showAddPost {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}
.hideAddPost {
  animation: hideAddPost 0.5s forwards;
}

@keyframes hideAddPost {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}/*# sourceMappingURL=index.css.map */