* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "StratosSkyeng";
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../src/assets/fonts/stratosskyengweb-regular.woff2") format("woff2");
}
@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../src/assets/fonts/stratosskyengweb-medium.woff2") format("woff2");
}
.container {
  display: flex;
  flex-direction: column;
}

.preloader {
  width: 50px;
  height: 50px;
  margin-top: 100px;
  align-self: center;
}

.header {
  width: 100vw;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px 16px;
}
.header__profile-wrap {
  display: flex;
  gap: 10px;
  width: 130px;
  justify-content: end;
}
.header__logo {
  width: 130px;
  font-weight: 700;
  font-size: 26px;
  cursor: pointer;
}
.header__add-post {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 122.88'%3E%3Ctitle%3Eadd%3C/title%3E%3Cpath d='M61.44,0A61.46,61.46,0,1,1,18,18,61.25,61.25,0,0,1,61.44,0ZM88.6,56.82v9.24a4,4,0,0,1-4,4H70V84.62a4,4,0,0,1-4,4H56.82a4,4,0,0,1-4-4V70H38.26a4,4,0,0,1-4-4V56.82a4,4,0,0,1,4-4H52.84V38.26a4,4,0,0,1,4-4h9.24a4,4,0,0,1,4,4V52.84H84.62a4,4,0,0,1,4,4Zm8.83-31.37a50.92,50.92,0,1,0,14.9,36,50.78,50.78,0,0,0-14.9-36Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
  transition: scale 0.3s;
  cursor: pointer;
}
.header__add-post:hover {
  scale: 1.2;
}
.header__login, .header__logout, .header__profile {
  cursor: pointer;
}
.header__login:hover, .header__logout:hover, .header__profile:hover {
  color: #aaa;
}

.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: calc(100vh - 74px);
  padding: 15px;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.post__header {
  display: flex;
  margin-bottom: 10px;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.post__user-image {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.post__image {
  width: 500px;
  height: 100%;
}
.post__likes-wrap {
  display: flex;
  margin-top: 8px;
  align-items: center;
  gap: 10px;
}
.post__like-btn {
  width: 22px;
  height: auto;
  transition: scale 0.2s;
  cursor: pointer;
}
.post__like-btn:hover {
  scale: 1.15;
}
.post__likes-text {
  font-size: 14px;
  line-height: 18px;
}
.post__description {
  display: flex;
  margin-top: 5px;
  gap: 5px;
}
.post__description-user, .post__description-text {
  font-size: 14px;
}
.post__time {
  color: #8a8a8a;
  font-size: 14px;
  line-height: 18px;
}/*# sourceMappingURL=index.css.map */